<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.springmvc.demo.dao.UserMapper">

    <!-- 所有列 -->
    <sql id="Column_list">
        id,name,sex,address,age
    </sql>
    <resultMap id="userResult" type="User" >
        <id  column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="address" property="address"/>
    </resultMap>

    <select id="getUserList" resultMap="userResult">
        SELECT
        <include refid="Column_list" />
        from user
    </select>
    <select id="getUserPageList" resultMap="userResult">
        SELECT
        <include refid="Column_list" />
        <![CDATA[
          from user limit #{offset},#{rows}
         ]]>
    </select>
    <select id="getUserPageListCount" resultType="java.lang.Integer">
          SELECT COUNT(1) FROM user
    </select>
</mapper>